*{
      background-color: rgb(244, 203, 127);
      text-align: center;
}

.maintitle{
      color: orange;
}
.hbutton{
      display: flex;
      border-radius: 10px;
      margin: 10px 20px;
      padding: 15px;
      background-color: orange;

}

h2{
      color: orange;
}
.menu{
      list-style: none;
      align-items: flex-end;

}

.list-restaurant-item-content{
      display: flex;
      justify-content: space-evenly;
      align-items: center;

}
/*copied*/

.hidmenu {
  max-width: 400px;
  margin: 20px 300px;
  height: 100px;
  color: orange;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.topnav #myLinks {
  display:list-item;
}

.topnav a {
  color: orange;
  padding: 24px 35px;
  text-decoration: none;
  font-size: 17px;
  display:flex;
  justify-content:flex-end;
}

.topnav a.icon {
  background: orange;
  display:inline;
  position:absolute;
  right: 0;
  top: 0;
  border-radius: 10px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}